/* headings for all content */
.main-header {
  text-align: center;
  text-transform: capitalize;
}


/* Navbar styling */
.navbar.navbar-default.navbar-fixed-top {
  background-color: #000000;
}

.navbar-brand {
  color: #FFFFFF !important;
  font-weight: 10px !important;
}

/* RoomList styling */

.container-fluid {
  padding: 60px 50px;
  background-color: #FFFFFF;
}

/* sidebar styling */
.sidebar {
  padding-top: 20px;
  padding-left: 20px;

}

/* submit input field */
#submit-field {
  width: 100px;  
  height: 30px;
  border: 2px solid #D3D3D3;
  border-radius: 4px;
}

/* space submit button from input field */
.btn.btn-primary {
  margin-left: 10px; 
  font-size: 15px; 
}


/* add vertical space between buttons */
#rooms-button {
  background-color: #D3D3D3;  /* HTML Lightgray */
  color: #000000;
  border: 1px;
  border-color: #D3D3D3; /* HTML Lightgray */
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  margin: 10px 0px 10px 0px;
}


/* User styling */
/* style sign in button */
#sign-in-header {
  text-align: center;
  margin-top: 100px;
}

/* style sign in field */
.sign-in-field {
}

#loginButton {
  
}

#signout {
 
}


