/* headings for all content */
.main-header {
  text-align: center;
  text-transform: capitalize;
}

.col-xs-6 {
  min-height: 
}

/* Navbar styling */
.navbar.navbar-default.navbar-fixed-top {
  background-color: #000000;
}

.navbar-brand {
  color: #FFFFFF !important;
  font-weight: 10px !important;
}

/* RoomList styling */

.container-fluid {
  padding: 60px 50px;
  background-color: #FFFFFF;
}

/* Sidebar styling */
.sidebar {
  padding-top: 20px;
  padding-left: 20px;

}

/* submit input field */
#submit-field {
  width: 100px;  
  height: 30px;
  border: 2px solid #D3D3D3;
  border-radius: 4px;
}

/* space submit button from input field */
.btn.btn-primary {
  margin-left: 10px; 
  font-size: 15px; 
}


/* add vertical space between buttons */
#rooms-button {
  background-color: #D3D3D3;  /* HTML Lightgray */
  color: #000000;
  border: 1px;
  border-color: #D3D3D3; /* HTML Lightgray */
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  margin: 10px 0px 10px 0px;
}


/* User styling */
/* login button */
.btn.btn-info {
  margin-top: 20px; 
  margin-left: 40px;
  width: 100px;
}

/* dispaly login name */
.login-name {
  margin-top: 20px;
}

/* Message Styling */
#message-form {
  margin-top: 400px;
}

/*  message input field */
#message-field {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  width: 300px;
  border: 1px;
  border-color: #000000;
  border-style: solid;
}

/* send button */
#message-btn {
  background-color: green;
  color: #FFFFFF;
  width: 100px !important;
  padding: 5px;
  margin-top: 10px;
}





